.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header-title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header-column {
  width: 25%;
}

.alt-header-column:first-child {
  margin-right: auto;
}

.alt-header-column:nth-child(2) {
  width: 50%;
  text-align: center;
}

.alt-header-column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header-column span:last-child {
  margin-left: 20px;
}
